name: Release workflow

on:
  workflow_dispatch:
    inputs:
      branch:
        description: "The branch to deploy to"
        required: false
        type: choice
        options:
          - main
        default: main
  push:
    branches:
      - main

permissions:
  contents: write
  issues: write
  pull-requests: write

jobs:
  release-please:
    # Run manually OR when the pushed commit is the release commit
    if: |
      github.event_name == 'workflow_dispatch' ||
      startsWith(github.event.head_commit.message, 'chore(main): release')
    runs-on: ubuntu-24.04
    steps:
      - name: Generate a token
        id: generate-token
        uses: getsentry/action-github-app-token@d4b5da6c5e37703f8c3b3e43abb5705b46e159cc
        with:
          app_id: ${{ secrets.APP_ID }}
          private_key: ${{ secrets.APP_PRIVATE_KEY }}

      - name: Run Release Please
        uses: googleapis/release-please-action@v4
        with:
          target-branch: main
          token: ${{ steps.generate-token.outputs.token }}
          config-file: release-please-config.json
          manifest-file: .release-please-manifest.json
